{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <!--
    Le plan :
    0. Build the UI => then use Js to make it dynamic V
    1. Get the current month V
    2. Get the days for the current month V
    3. Place the days the right way V
    4. When we click on a day => we can see the events in that day V
    5. We can create a new event in the day V
    6. If the date has an event, highlight it V

    Bonus Perso :
        1. Avoir le nom des jours en entier et mettre un breakpoint
         pour afficher seulement leurs initiales quand trop petit.
        2. Avoir une pastille pour préciser le jour actuel.
        3. We can delete the event.
        4. Réparer erreur mois : "UNDEFINED" sortie de je sais pas d'ou..
        5. Mettre une transition entre le changement de mois.
        6. Système de couleurs aléatoire( duo? ou seule?).
        7. Système de point de couleur en suivant de l'importance ou de la catégorie de l'évent.
        8. Ajouter une catégorie
        9. Ajouter un point / repère du mois afficher.
    -->
    <body>
        <div id="popup" class="calendar-popup hidden">
            <div class="pop-wrapper">
                <a id="close" class="pop-close">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </a>
                <h3 class="pop-title">New event</h3>
                <div class="input-wrapper">
                    <label class="name-input" for="title">Title</label>
                    <input id="title" class="input" type="text" placeholder="Enter title"/>
                </div>
                <div class="input-wrapper">
                    <label class="name-input" for="time">Time</label>
                    <input id="time" class="input" type="text" placeholder="Enter time (11:00)"/>
                </div>
                <a id="add" class="pop-add">Add</a>
            </div>
        </div>
        <div class="calendar-wrapper">
            <div class="calendar-first">
                <a id="left" class="month-arrow"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler
                    icon-tabler-arrow-big-left-filled" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1z" fill="currentColor"></path>
                    </svg>
                </a>

                <h1 id="date"></h1>

                <a id="right" class="month-arrow"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler 
                    icon-tabler-arrow-big-right-filled" width="24" height="24" viewBox="0 0 24 24" 
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" 
                    stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" fill="currentColor"></path>
                    </svg>
                </a>
            </div>

            <div class="calendar-second">
                <div class="calendar-days-name">
                    <div class="days-list">Monday</div>
                    <div class="days-list">Tuesday</div>
                    <div class="days-list">Wednesday</div>
                    <div class="days-list">Thursday</div>
                    <div class="days-list">Friday</div>
                    <div class="days-list">Saturday</div>
                    <div class="days-list">Sunday</div>
                </div>
                <div id="calendar" class="calendar-days-grid"></div>
            </div>

            <div class="calendar-third">
                <div id="events"></div>
            </div>


            <div class="calendar-fourth">
                <a id="open" class="calendar-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" height="36px" width="36px" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                        <path d="M9 12l6 0"></path>
                        <path d="M12 9l0 6"></path>
                    </svg>
                </a>
            </div>
        </div>
    </body>
{% endblock %}
