body {
    display: flex;
    justify-content: center;
    background: #FCF7F4;
}

.calendar-popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 20;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hidden {
    visibility: hidden;
}

.pop-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 50vw;
    padding: 5%;
    font-size: 1.3rem;
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
}

.pop-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1vw;
    right: 1vw;
    height: 5vw;
    width: 5vw;
}

.pop-title {
    color: red;
    font-weight: bold;
    font-size: 2rem;
    padding: 3vh 0 2vh 0;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 3.5vh;
}

.name-input {
    font-weight: bold;
}

.input {
    border-radius: 5px;
}

.pop-add {
    height: 3vh;
    width: 15vw;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
}

.bg-cyan:hover {
    opacity: 75%;
}

.calendar-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
}

.calendar-first {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 7vh;
    width: 700px;
    z-index: 2;
    background: #839788;
    border-radius: 10px 10px 0 0;
}

.month-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 150px;
    border-radius: 50px;
    background: #839788;
    box-shadow:  9px 9px 18px #7a8c7e,
                -9px -9px 18px #8ca292;
}

.month-arrow:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #76887a, #8ca292);
    box-shadow:  9px 9px 18px #7a8c7e,
                -9px -9px 18px #8ca292;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.calendar-second {
    position: relative;
    width: 700px;
}

.calendar-days-name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 5vh;
    width: 100%;
    background-color: #BAA898;
    border-top: 2px solid #C8C8C8;
    border-bottom: 2px solid #C8C8C8;
}

.days-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.calendar-days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 15px;
    padding: 3%;
    min-height: 460px;
    background: #839788;
    z-index: 5;
}

.days-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: #839788;
    box-shadow:  3px 3px 5px #7a8c7e,
                -3px -3px 5px #8ca292;
}

.days-item:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #76887a, #8ca292);
    box-shadow:  3px 3px 5px #7a8c7e,
                -3px -3px 5px #8ca292;
    opacity: 85%;
    cursor: pointer;
}

.eventOn {
    background: pink;
}

.active {
    background: red;
    border-radius: 50%;
    opacity: 85%;
    cursor: pointer;
}

.calendar-third {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    border-top: 2px solid #C8C8C8;
    width: 700px;
}

#events {
    width: 100%;
}

.event-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 5vh;
    background: #BAA898;
}

/* js changer height et width ici l.116 */
.meeting-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.meeting-name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.15rem;
    max-width: 75%;
}

.calendar-fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 700px;
    background: #BAA898;
    border-top: 2px solid #C8C8C8;
    border-radius: 0 0 10px 10px;
}

.calendar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* A remettre en place */

.day {

}

.day.active {
    
}